.component-spin {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: hsla(0, 0%, 100%, 0.9);
}

.command-text {
  border: 1px solid #eee;
  padding: 3px 6px;
  color: #ccc;
  border-radius: 3px;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: none !important;
}

.ant-spin-nested-loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.page-app {
  width: 500px;
  padding-top: 20px;
  margin: 0 auto;
}

.ant-upload.ant-upload {
  width: 500px;
  padding: 10px;
}

.exec {
  width: 500px;
}

.ant-input {
  margin: 10px 0;
}

h4 {
  margin-top: 20px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
